
/* galenscovell.github.io 2014-06-11 */
/* Pinsaar colors: #3af781, #2bb860; #196b38, #159e96, #167872 */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#offset {
    height: 75px;
    width: 100%;
}



/* Navbar */
#nav {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    float: left;
    background-color: hsla(210, 60%, 50%, 0.5);
    position: fixed;
    top: 0px;
    z-index: 10;
}

#nav ul {
    width: 550px;
    list-style: none;
    margin: 0 auto;
    padding: 0; 
}

#nav li {
    float: left; 
}

#nav li a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    color: hsla(210, 40%, 90%, 0.7);
    transition: 1.5s;
}

#nav li a:hover {
    border-radius: 50px;
    background-color: #fff;
    color: hsla(210, 40%, 50%, 0.9);
    transition: 1.5s; 
}


/* Top */
#top {
    text-align: center;
    height: 100%;
    background: hsla(135, 78%, 46%, 1.0);
    color: hsla(135, 78%, 100%, 0.8);
    position: relative
}

#top h1 {
    font-family: 'Stalemate', cursive;
    font-size: 96px;
}

#top h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
}

#top i {
    opacity: 0.1;
    transition: 1.5s;
    color: #FFFFFF;
    text-decoration: none;
}

#top i:hover {
    opacity: 0.8;
    transition: 1.5s;
}


/* Minibio */
#minibio {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    color: hsla(229, 60%, 50%, 0.7);
    position: relative;
}

#minibio h3 {
    font-size: 28px;
    font-family: 'Amaranth', sans-serif;
}

#minibio p {
    font-size: 21px;
}

#minibio i {
    opacity: 0.1;
    transition: 1.5s;
    color: #0099FF;
    text-decoration: none;
}

#minibio i:hover {
    opacity: 0.8;
    transition: 1.5s;
}


/* Work */
#work {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background: hsla(229, 60%, 50%, 1.0);
    color: hsla(229, 60%, 90%, 0.8);
}

#work h3 {
    font-size: 28px;
    font-family: 'Amaranth', sans-serif;
}

#work p {
    font-size: 21px;
}

#work i {
    opacity: 0.1;
    transition: 1.5s;
    color: #FFFFFF;
    text-decoration: none;
}

#work i:hover {
    opacity: 0.8;
    transition: 1.5s;
}



/* Projects */
#projects {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    color: hsla(229, 60%, 50%, 0.7);
}

#projects h3 {
    font-size: 28px;
    font-family: 'Amaranth', sans-serif;
}

#projects p {
    font-size: 21px;
}

#projects i {
    opacity: 0.1;
    transition: 1.5s;
    color: #0099FF;
    text-decoration: none;
}

#projects i:hover {
    opacity: 0.8;
    transition: 1.5s;
}



/* About */
#about {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background: hsla(135, 78%, 46%, 1.0);
    color: hsla(135, 78%, 100%, 0.8);
}

#about h3 {
    font-size: 28px;
    font-family: 'Amaranth', sans-serif;
}

#about p {
    font-size: 21px;
}

#about i {
    opacity: 0.1;
    transition: 1.5s;
    color: #FFFFFF;
    text-decoration: none;
}

#about i:hover {
    opacity: 0.8;
    transition: 1.5s;
}



/* Resume */
#resume {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    height: 50%;
    color: hsla(229, 60%, 50%, 0.7);
}

#resume h3 {
    font-size: 28px;
    font-family: 'Amaranth', sans-serif;
}

#resume p {
    font-size: 21px;
}


/* Bottom */
#bottom {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    height: 50%;
    background: hsla(229, 60%, 52%, 1.0);
    color: hsla(229, 60%, 90%, 0.8);
}

