
/* galenscovell.github.io 2014-09-29 */
/* Pinsaar colors: #3af781, #2bb860; #196b38, #159e96, #167872 */

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: url(pics/top.JPG) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#offset {
    height: 6%;
    width: 100%;
}


/* Navbar */
#nav {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    float: left;
    background-color: hsla(210, 100%, 20%, 0.5);
    border-top: solid green 3px;
    position: fixed;
    top: 0px;
    z-index: 10;
}

#nav ul {
    width: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0; 
}

#nav li {
    float: left; 
}

#nav li a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: hsla(210, 90%, 90%, 0.8);
    transition: 0.6s;
}

#nav li a:hover {
    background-color: hsla(229, 100%, 100%, 0.3);
    color: hsla(210, 40%, 30%, 0.9);
    transition: 0.3s; 
}


/* Top */
#top {
    text-align: center;
    height: 100%;
    color: hsla(135, 78%, 100%, 0.8);
    background: hsla(135, 78%, 46%, 0.8); 
    position: relative
}

#top h1 {
    margin-top: 15%;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
}

#top h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
}

#top i {
    opacity: 0.4;
    transition: 0.6s;
    color: #FFFFFF;
    text-decoration: none;
    width: 140px;
    height: 70px;
    border: solid white 2px;
    margin-top: 10%;
}

#top i:hover {
    opacity: 0.8;
    transition: 0.3s;
}



/* About */
#about {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    height: 800px;
    background: #F3F3F3;
    color: #1A1A1A;
    position: relative;
}

#about h2 {
    font-size: 16px;
}

#about h3 {
    text-align: center;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-bottom: -1.5%;
}

#about h4 {
    font-size: 15px;
}

#about h5 {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: gray;
}

#about p {
    font-size: 16px;
    color: gray;
}

#about1 {
    width: 30%;
    height: 200px;
    position: absolute;
    left: 4%;
}

#about1 #text {
    border-top: solid white 3px;
    position: relative;
    top: 10%;
}

#about1 #image img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
}

#about2 {
    width: 30%;
    height: 200px;
    position: absolute;
    left: 35%;
}

#about2 #text {
    border-top: solid white 3px;
    position: relative;
    top: 10%;
}

#about2 #image img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
}

#about3 {
    width: 30%;
    height: 200px;
    position: absolute;
    left: 66%;
}

#about3 #text {
    border-top: solid white 3px;
    position: relative;
    top: 10%;
}

#about3 #image img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
}


/* Skills */
#skills {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    height: 800px;
    background: hsla(135, 78%, 46%, 1.0);
    color: hsla(135, 78%, 100%, 0.8);
    position: relative;
}

#skills h3 {
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
}




/* Projects */
#projects {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    height: 800px;
    background: hsla(229, 60%, 52%, 1.0);
    color: hsla(229, 60%, 90%, 0.8);
}

#projects h3 {
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
}

#projects p {
    font-size: 21px;
}



/* Contact */
#contact {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    height: 300px;
    background: hsla(135, 78%, 46%, 1.0);
    color: hsla(135, 78%, 100%, 0.8);
}


@media screen and (max-width: 800px) {

    #top h1 { margin-top: 30%; }

    #about { height: 1600px; }

    #about h3 { margin-top: -5%; }

    #about1 {
        width: 100%;
        height: 200px;
        position: absolute;
        top: 11%;
        left: 2%;
    }

    #about2 {
        width: 100%;
        height: 200px;
        position: absolute;
        top: 37%;
        left: 2%;
    }

    #about3 {
        width: 100%;
        height: 200px;
        position: absolute;
        top: 63%;
        left: 2%;
    }

}
