
/* galenscovell.github.io 2014-10-27 */


html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#offset {
    height: 100px;
    width: 100%;
}



/* ------- Navbar ------- */

#nav-wrap {
    width: 100%;
    position: fixed;
}

#nav {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    float: left;
    background-color: hsla(60, 10%, 5%, 0.85);
    border-top: solid green 3px;
    position: absolute;
    top: 0px;
    z-index: 10;
}

#nav ul {
    width: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0; 
}

#nav li {
    float: left; 
}

#nav li a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: hsla(210, 90%, 90%, 0.8);
    transition: 0.6s;
}

#nav li a:hover {
    background-color: hsla(229, 100%, 100%, 0.3);
    color: hsla(210, 40%, 30%, 0.9);
    transition: 0.3s; 
}



/* ------- Top ------- */
#top {
    text-align: center;
    height: 100%;
    color: hsla(135, 78%, 100%, 0.8);
    background: url('pics/top.JPG') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

#top .tint {
    height: 100%;
    background: hsla(135, 78%, 46%, 0.8);
}

#top h1 {
    margin-top: 12%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 36px;
    letter-spacing: 3px;
    background: rgba(0, 0, 0, 0.2);
}

#top h3 {
    margin-top: -2%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 21px;
    letter-spacing: 3px;
}

#top a {
    text-decoration: none;
    margin-top: 40px;
}

#top a div{
    position: absolute;
    top: 90%;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    line-height: 45px;
    opacity: 0.3;
    transition: 0.6s;
}

#top a div:hover {
    opacity: 0.8;
    transition: 0.3s;
}

#top a div img {
    height: 50px;
    width: 50px;
    opacity: 0.6;
}



/* ------- About ------- */
#about {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    height: 800px;
    background-color: #F3F3F3;
    color: #1A1A1A;
    position: relative;
    z-index: -1;
}

#about h2 {
    font-size: 16px;
}

#about h3 {
    text-align: center;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    position: absolute;
    width: 100%;
    top: 30px;
    margin-bottom: 0;
    background: rgba(0, 100, 0, 0.2);
}

#about h4 {
    font-size: 15px;
}

#about h5 {
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: gray;
}

#about p {
    font-size: 16px;
    color: gray;
}

#about1 {
    width: 30%;
    height: 200px;
    position: absolute;
    left: 4%;
}

#about2 {
    width: 30%;
    height: 200px;
    position: absolute;
    left: 35%;
}

#about3 {
    width: 30%;
    height: 200px;
    position: absolute;
    left: 66%;
}

#about1 #text,
#about2 #text,
#about3 #text {
    border-top: 4px solid white;
    position: relative;
    top: 10%;
    margin-left: 15px;
    margin-right: 15px;
}

#about1 img,
#about2 img,
#about3 img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.6);
}



/* ------- Middle Section #1 ------- */
#middle_1 {
    height: 400px;
    background: url('pics/middle2.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#middle_1 .tint {
    height: 400px;
    background: hsla(135, 78%, 46%, 0.8);
}



/* ------- Skills ------- */
#skills {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    height: 1200px;
    background: #F3F3F3;
    color: #1A1A1A;
    position: relative;
    width: 100%;
    z-index: -1;
}

#skills h2 {
    font-size: 16px;
}

#skills h3 {
    text-align: center;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    position: absolute;
    width: 100%;
    top: 30px;
    margin-bottom: 0;
    background: rgba(0, 100, 0, 0.2);
}

#skills h4 {
    font-size: 15px;
}

#skills h5 {
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: gray;
}

#skills p {
    font-size: 16px;
    color: gray;
}

#skills1 {
    width: 30%;
    height: 100px;
    position: absolute;
    left: 4%;
}

#skills2 {
    width: 30%;
    height: 100px;
    position: absolute;
    left: 35%;
}

#skills3 {
    width: 30%;
    height: 100px;
    position: absolute;
    left: 66%;
}

#skills1 #text,
#skills2 #text,
#skills3 #text {
    border-top: solid white 3px;
    position: relative;
    top: 10%;
    margin-left: 15px;
    margin-right: 15px;
}

#skills1 img {
    height: 100px;
    width: 175px;
    display: block;
    margin: 0 auto;
}

#skills2 img,
#skills3 img {
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
}

.other_skills {
    position: relative;
    top: 50%;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px #000;
    border-radius: 20px;
}

#other_skill1,
#other_skill2,
#other_skill3,
#other_skill4 {
    display: inline-block;
    width: 200px;
    padding-bottom: 30px;
}

#other_skill1 h5,
#other_skill2 h5,
#other_skill3 h5,
#other_skill4 h5 {
    text-align: center;
    border-bottom: 3px solid gray;
    padding-bottom: 10px;
    color: black;
}

#other_skill1 p,
#other_skill2 p,
#other_skill3 p,
#other_skill4 p {
    text-align: center;
}

#other_skill1 img,
#other_skill4 img {
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 auto;
}

#other_skill2 img {
    height: 60px;
    width: 140px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

#other_skill3 img {
    height: 80px;
    width: 110px;
    display: block;
    margin: 0 auto;
}




/* ------- Skill bars ------- */
.bar {
    height: 20px;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.bar span {
    display: block;
    height: 100%;
    border-radius: 3px;
    background-color: hsla(137, 72%, 40%, 0.6);
    color: hsla(207, 100%, 91%, 0);
    position: relative;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-shadow: inset 3px 3px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.bar span:hover {
    background-color: hsla(137, 72%, 50%, 0.8);
    color: hsla(207, 100%, 91%, 1);
    transition: 0.5s;
    cursor: default;
}



/* ------- Middle Section #2 ------- */
#middle_2 {
    height: 400px;
    background: url('pics/middle3.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#middle_2 .tint {
    height: 400px;
    background: hsla(135, 78%, 46%, 0.8);
}



/* ------- Projects ------- */
#projects {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    height: 1000px;
    background: #F3F3F3;
    color: #1A1A1A;
    width: 100%;
    position: relative;
    z-index: -1;
}

#projects h3 {
    text-align: center;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    position: absolute;
    width: 100%;
    top: 30px;
    margin-bottom: 0;
    background: rgba(0, 100, 0, 0.2);
}

#projects h5 {
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: gray;
}

#projects p {
    font-size: 21px;
}

.project_grid {
    height: 800px;
    width: 90%;
    margin: 0 auto 0 auto;
    text-align: center;
}

#project1 {
    display: inline-block;
    height: 250px;
    width: 250px;
    background: url('pics/mastermind.png') no-repeat center;
    background-size: 100% 100%;
    border-radius: 10%;
    transition: 0.1s;
}

#project2 {
    display: inline-block;
    left: 36%;
    height: 250px;
    width: 250px;
    background: url('pics/tictactoe.png') no-repeat center;
    background-size: 100% 100%;
    border-radius: 10%;
    transition: 0.1s;
}

#project3 {
    display: inline-block;
    right: 0%;
    height: 250px;
    width: 250px;
    background: url('pics/hangman.png') no-repeat center;
    background-size: 100% 100%;
    border-radius: 10%;
    transition: 0.1s;
}

#project4 {
    display: inline-block;
    height: 250px;
    width: 250px;
    background: url('pics/eventmanager.png') no-repeat center;
    background-size: 100% 100%;
    border-radius: 10%;
    transition: 0.1s;
}

#project5 {
    display: inline-block;
    height: 250px;
    width: 250px;
    background: url('pics/webcalculator.png') no-repeat center;
    background-size: 100% 100%;
    border-radius: 10%;
    transition: 0.1s;
}

#project6 {
    display: inline-block;
    height: 250px;
    width: 250px;
    background: url('pics/etchasketch.png') no-repeat center;
    background-size: 100% 100%;
    border-radius: 10%;
    transition: 0.1s;
}

#project7 {
    display: inline-block;
    height: 250px;
    width: 250px;
    background: url('pics/snake.png') no-repeat center;
    background-size: 100% 100%;
    border-radius: 10%;
    transition: 0.1s;
}

#project8 {
    display: inline-block;
    height: 250px;
    width: 250px;
    background: url('pics/oldmaster4.jpg') no-repeat center;
    background-size: 100% 100%;
    border-radius: 10%;
    transition: 0.1s;
}

#project1:hover,
#project2:hover,
#project3:hover,
#project4:hover,
#project5:hover,
#project6:hover,
#project7:hover,
#project8:hover {
    background-size: 115% 115%;
    transition: 0.2s;
}

.button {
    display: table;
    height: 100%;
    width: 100%;
    background-color: hsla(135, 78%, 46%, 0.0);
    border-radius: 10%;
    transition: 0.3s;
}

.button:hover {
    background-color: hsla(135, 78%, 46%, 0.7);
    transition: 0.3s;
}

#button_box {
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    color: hsla(60, 7%, 96%, 0.0);
    border-radius: 10%;
    transition: 0.3s;
    text-decoration: none;
}

#button_box:hover {
    border: 6px solid rgba(0, 0, 0, 0.3);
    color: hsla(60, 7%, 96%, 1);
    transition: 0.1s;
}



/* ------- Contact ------- */
#contact {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 225px;
    width: 100%;
    background: #272727;
    color: gray;
    position: absolute;
}

#contact_details {
    position: absolute;
    top: 6%;
    right: 22.5%;
    width: 50%;
    height: 80%;
    margin: 0 auto;
}

#summary h2 {
    color: white;
    font-weight: normal;
    font-size: 21px
}

#summary p {
    font-size: 16px;
    margin-top: -2%
}

#bubble {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    left: 2.5%;
    top: 5%;
    box-shadow: 3px 5px 10px #000;
}

#email {
    width: 230px;
    height: 30px;
    top: 60%;
    position: absolute;
}

#email img {
    width: 30px;
    height: 30px;
    position: absolute;
}

#email p {
    text-align: right;
    margin: 0 auto;
}

#email a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

#email a:hover{
    color: white;
    transition: 0.5s;
}

#phone {
    width: 140px;
    height: 30px;
    top: 82%;
    position: absolute;
}

#phone img {
    width: 30px;
    height: 30px;
    position: absolute;
}

#phone p {
    text-align: right;
    margin: 0 auto;
}

#contact_other {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 12%;
    height: 200px;
}

#github {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0%;
    right: 0%;
    opacity: 0.8;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.6);
}

#linkedin {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30%;
    right: 0%;
    opacity: 0.8;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.6);
    
}

#github:hover,
#linkedin:hover {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.9);
}



/* ------- Screen width < 900px -------  */
@media screen and (max-width: 900px) {

    #top h1 { margin-top: 30%; }

    #about { height: 1600px; }

    #about1 {
        width: 95%;
        top: 10%;
        left: 3%;
    }

    #about2 {
        width: 95%;
        top: 38%;
        left: 3%;
    }

    #about3 {
        width: 95%;
        top: 67%;
        left: 3%;
    }

    #skills { height: 2000px; }

    #skills1 {
        width: 95%;
        height: 200px;
        top: 10%;
        left: 3%;
    }

    #skills2 {
        width: 95%;
        height: 200px;
        top: 30%;
        left: 3%;
    }

    #skills3 {
        width: 95%;
        height: 200px;
        top: 50%;
        left: 3%;
    }

    .other_skills {
        top: 64%;
    }
    
    #projects { height: 1300px; }

    #contact { height: 400px; }

    #contact_details {
        width: 80%;
        height: 40%;
        position: relative;
        right: 0%;
        top: 50%;
    }

    #bubble {
        left: 10%;
        height: 175px;
        width: 175px;
    }
    
    #phone {
        position: absolute;
        bottom: 10%;
        left: 0%;
    }
    
    #phone img {
        left: 0%;
    }

    #email {
        position: absolute;
        bottom: 20%;
        left: 0%;
    }
    
    #email img {
        left: 0%;
    }

    #contact_other {
        position: absolute;
        height: 120px;
        width: 50px;
        top: 15%;
    }

    #github {
        position: absolute;
        top: 0%;
    }

    #linkedin {
        position: absolute;
        right: 0%;
        top: 50%;
    }

}



/* ------- Screen width < 600px -------  */
@media screen and (max-width: 600px) {
    
    #about { height: 1600px; }
    
    #about1 { top: 11%; }
    
    #about2 { top: 40%; }
    
    #about3 { top: 70%; }
    
    #skills { height: 2000px; }
    
    #skills1 { top: 8%; }
    
    #skills2 { top: 31%; }
    
    #skills3 { top: 52%; }
    
    .other_skills { top: 66%; }
    
    #other_skill1,
    #other_skill2,
    #other_skill3,
    #other_skill4,
    #other_skill5 {
        width: 200px;
        height: 200px;
    }
    
    #projects { height: 1100px; }
    
    #project1,
    #project2,
    #project3,
    #project4,
    #project5,
    #project6,
    #project7,
    #project8 {
        height: 200px;
        width: 200px;
    }
    
}

/* ------- Screen width < 580px -------  */
@media screen and (max-width: 520px) {

    #skills { height: 2500px; }

    #skills1 { top: 7%; }
    
    #skills2 { top: 25%; }
    
    #skills3 { top: 43%; }
    
    .other_skills { top: 55%; }

}
        


/* ------- Screen width < 500px -------  */
@media screen and (max-width: 500px) {

    #nav li a { padding: 16px 8px; }

    #top h1 { margin-top: 50%; }

    #about { height: 1700px; }

    #about h3 { 
        font-size: 22px;
        top: 45px;
    }

    #about1 { top: 10%; }

    #about2 { top: 38%; }

    #about3 { top: 68%; }

    #skills { height: 2300px; }

    #skills h3 { 
        font-size: 22px;
        top: 45px;
    }

    #skills1 {
        height: 100px;
        top: 8%;
    }

    #skills2 {
        height: 100px;
        top: 28%;
    }

    #skills3 {
        height: 100px;
        top: 48%;
    }

    .other_skills {
        top: 62%;
    }
    
    #other_skill1,
    #other_skill2,
    #other_skill3,
    #other_skill4,
    #other_skill5 {
        width: 150px;
        height: 200px;
    }

    #projects { height: 2000px; }

    #projects h3 { 
        font-size: 22px;
        top: 45px;
    }
    

}




/* ------- Screen width < 400px -------  */
@media screen and (max-width: 400px) {

    #about { height: 2000px; }

    #about1 { top: 10%; }

    #about2 { top: 40%; }

    #about3 { top: 72%; }

    #skills { height: 3000px; }

    #skills h3 { 
        font-size: 22px;
        top: 45px;
    }

    #skills1 {
        height: 100px;
        top: 5%;
    }

    #skills2 {
        height: 100px;
        top: 23%;
    }

    #skills3 {
        height: 100px;
        top: 41%;
    }

    .other_skills {
        top: 58%;
    }
    
    #other_skill1,
    #other_skill2,
    #other_skill3,
    #other_skill4,
    #other_skill5 {
        width: 150px;
        height: 200px;
    }

    #projects { height: 2000px; }

    #projects h3 { 
        font-size: 22px;
        top: 45px;
    }
    

}