
/* Galen Scovell, Resume 02-01-2015 */


html, body {
    width: 8.5in;
    height: 11in;
    margin: 0px;
    padding: 0px;
}




/* Containers */

#head_container {
    position: relative;
    top: 0;
    padding: 20px 0 0 0;
    background-color: #292526;
    height: 100px;
    width: 8.5in;
    margin: 0 auto;
    font-family: 'Bree Serif', 'sans-serif';
    letter-spacing: -0.5px;
}

#head_container h2 {
    font-weight: normal;
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-size: 36px;
}

#head_container h3 {
    font-weight: normal;
    margin: 0;
    text-align: center;
    color: #D35400;
    font-size: 21px;
    letter-spacing: -0.5px;
}

#main_container {
    position: relative;
    background-color: #ecf0f1;
    width: 8.5in;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

#foot_container {
    position: relative;
    bottom: 0;
    padding: 10px 0;
    background-color: #292526;
    height: 40px;
    width: 8.5in;
    margin: 0 auto;
}

#foot_container p {
    font-family: 'Calibri', 'sans-serif';
    margin: 10px 0 0 0;
    text-align: center;
    color: #CCCCCC;
    font-size: 16px;
}




/* Column Structures */

.col_2-3 {
    vertical-align: top;
    display: inline-block;
    width: 76%;
    text-align: left;
}

.col_1-3 {
    vertical-align: top;
    display: inline-block;
    width: 17%;
    margin: 0 20px 0 20px;
    text-align: right;
}




/* Box Structures */

.left_box {
    vertical-align: top;
    display: inline-block;
    width: 13%;
    color: #3D566E;
}

.middle_box {
    vertical-align: top;
    display: inline-block;
    width: 80%;
    color: #3B3B3B;
}

.right_box {
    float: right;
    color: gray;
    font-weight: normal;
    font-family: 'Calibri', 'sans-serif';
    font-size: 14px;
    margin: 0;
    line-height: 16px;
    font-style: italic;
    padding: 0;
}

.left_box h5 {
    font-family: 'Arial', 'sans-serif';
    font-size: 14px;
    margin: 0;
    letter-spacing: -0.5px;
}

.middle_box h5 {
    font-weight: 300;
    font-family: 'Arial', 'sans-serif';
    font-size: 16px;
    margin: 0;
    line-height: 16px;
}

.middle_box p {
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
    font-size: 15px;
    margin: 0;
}




/* Section Headers and Misc. */

#education,
#experience,
#projects,
#interests,
#contact,
#skills {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

#education h4,
#experience h4,
#projects h4,
#interests h4 {
    font-weight: normal;
    color: #D35400;
    font-size: 21px;
    margin: 0;
    font-family: 'Bree Serif', 'sans-serif';
}

#contact h4,
#skills h4 {
    font-weight: normal;
    color: #3B3B3B;
    font-size: 18px;
    margin: 4px 0 0 0;
    font-family: 'Bree Serif', 'sans-serif';
}

#contact h6 {
    font-weight: normal;
    color: #3B3B3B;
    font-size: 14px;
    margin: 6px 0 0 0;
    font-family: 'Bree Serif', 'sans-serif';
}

#contact p,
#skills p {
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    margin: 0;
    color: #3A383A;
    letter-spacing: -1px;
}

.edu_box,
.exp_box,
.project_box,
.interests_box {
    margin: 8px 0;
}

#projects ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#projects li {
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
    font-size: 15px;
    margin: 0;
}
